{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ category.name }} <span class="fa {{ category.iconKey }}"></span>
        <div>
            {% for fortuneCookie in category.fortuneCookies %}
                <div>
                {{ fortuneCookie.fortune }}
                ({{ fortuneCookie.numberPrinted }} printed since {{ fortuneCookie.createdAt|date('M jS Y') }})
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
